body {
	background-color: #595959;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style : italic;
}

.something {
	text-align: center;
	vertical-align: center;
	font-size: 5.0vw;
}
.something2 {
	text-align: center;
	vertical-align: center;
	font-size: 5.0vw;
}




.sup {
	color: #fff;
	background: red;
	padding: 7px 7px;
	text-decoration: none;
	width : 110px;
	margin : auto;
}

.sup2 {
	color: #fff;
	background: red;
	padding: 22px 22px;
	text-decoration: none;
	width : 60vw;
	margin : auto;
	max-width: 500px;
}

@media screen and (min-width: 1800px) {
	.something2 {
		font-size: 40px;
	}
}

.nav {
	background-color:#55d6aa;
	color:#ffffff;
	list-style: none;
	text-align: center;
	font-size: 26px;
	padding: 27px 0px;
	/*position:fixed;*/
}

.nav > li {
	display: inline-block;
	padding: 0 25px 0 25px;
}

.center {
	text-align: center;
	padding: 20px 30px;
}

.nav > li> a {
	text-decoration: none;
	color: #ffffff;
}

.nav > li >a:hover {
	color: grey;
}

#container {
	padding-left: 50px;
}

.text {
	color:#ffffff;
}

.subject {
	border:2px solid #ffffff;
}


/***************************
----------My CSS----------
Taken from codepen.io
A Pen By: Chris Holder
--------------------------
***************************/


.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 55px;
	min-height: 50px;
	text-shadow: black 0 0 13px;

}

.container {
	position: relative;
	text-align: center;
	color: white;
}


.b-container {
	position: relative;
	text-align: center;
	color: white;
}

.fa-github{
	font-size: 1.4em;
}

.fa-linkedin-in{
	font-size: 1.4em;
}

.fa-envelope{
	font-size: 1.4em;
}

/******************************************
* PHP/Swiftmailer/jQuery Contact Form Demo
* @author rlewis37@cnm.edu
*******************************************/

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}


.sfooter-content {
	flex: 1 0 auto;
}

