RewriteEngine on
RewriteCond %{HTTP_HOST} ^escobar505.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.escobar505.com$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]

# this forces SSL connection
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://escobar505.com/$1 [L]